body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #00FF66;
}

.btn-success {
  background-color: #00994D;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #00FF66;
}

input::placeholder {
  color: #999;
}

#resultado {
  font-size: 1.1rem;
  color: #00FF66;
}

